<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iShnackWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iShnakiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iShnakiOSTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iShnakiOSUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B09CE872DAFA66F0099D48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFD79E02DA3B5A900331BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFD79F42DA3B5AB00331BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFD79FE2DA3B5AB00331BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
